if mode == 'loading'
  .ss.loader
    i.fa.fa-refresh.fa-spin
else if mode == 'error'
  .ss.center-text
    p.ss.heavy= error
    p= strings.phrases.tryAgain
else
  nav
    .ss.table-filters
      .options
        .ss.input-button
          select.ss(role="download-picker")
            option(value="download-youtubes")= strings.defaults.youtubeIdentities
            option(value="download-twitchs")= strings.defaults.twitchIdentities
            option(value="download-emails")= strings.defaults.emails
          button.ss.bg-action.hover(role="download")= strings.defaults.download
      .filter
        label.ss.results(role="results-count")
        .ss.search
          input.ss(type="text"
            role="filter"
            placeholder="#{strings.defaults.filter}"
            tabindex=1)
          i.fa.fa-remove(role="cancel-filter")
  section
    div
      table.ss.pane-table
        thead
          tr
            th.sortable(sort-on='name')= strings.defaults.name
              i.fa.fa-sort-asc.indicator-asc
              i.fa.fa-sort-desc.indicator-desc
            th.sortable(sort-on='email')= strings.defaults.email
              i.fa.fa-sort-asc.indicator-asc
              i.fa.fa-sort-desc.indicator-desc
            th.ss.center-text= strings.subscription.subscriptionStatus
            th.ss.center-text= strings.subscription.whitelistStatus
            th.sortable(sort-on='created')= strings.defaults.joinDate
              i.fa.fa-sort-asc.indicator-asc
              i.fa.fa-sort-desc.indicator-desc
        tbody

  nav.ss.table-pagination.no-pages
    button.ss.fake(role='page-previous')
      i.fa.fa-chevron-left
      span  Previous 
        span(role='increment')= increment
    label.ss(role='results') &nbsp;
    button.ss.fake(role='page-next')
      span Next 
        span(role='increment')= increment
        |  
      i.fa.fa-chevron-right