header
  nav.ss.table-filters
    .options
      .ss.input-button
        input.ss(type="text" role="new-title" placeholder="Asset Title")
        button.ss.bg-action.hover(role="add-asset")= strings.defaults.add
    .filter
      label.ss.results(role='results-count')
      .ss.search
        input.ss(type="text" role="filter" placeholder="#{strings.defaults.filter}")
        i.fa.fa-remove(role="cancel-filter")

section
  div
    table.ss.pane-table
      thead.ss.hide-below.w500
        tr
          th.sortable(sort-on='title')= strings.defaults.title
            i.fa.fa-sort-asc.indicator-asc
            i.fa.fa-sort-desc.indicator-desc
          th.sortable(sort-on='date')= strings.defaults.date
            i.fa.fa-sort-asc.indicator-asc
            i.fa.fa-sort-desc.indicator-desc
          th= strings.defaults.actions
      tbody
        tr
          td(colspan=3)
            .ss.loader
              i.fa.fa-refresh.fa-spin

nav.ss.table-pagination.no-pages
  button.ss.fake(role='page-previous')
    i.fa.fa-chevron-left
    span  Previous 
      span(role='increment')= increment
  label.ss(role='results') &nbsp;
  button.ss.fake(role='page-next')
    span Next 
      span(role='increment')= increment
      |  
    i.fa.fa-chevron-right