input.ss.genre-name(type="text"
  placeholder="Genre"
  value="#{genre.name}")
| &nbsp;
input.ss.genre-color(type="text"
  placeholder="ffffff"
  value="#{genre.color}")
| &nbsp;
.color-block(style="background-color: ##{genre.color}")