if mode == 'loading'
  .ss.loader
    i.fa.fa-refresh.fa-spin
else if mode == 'error'
  .ss.center-text
    p.ss.heavy= error
    p= strings.phrases.tryAgain
else
  table.ss.rows
    tr
      th
        label.ss.heavy= strings.defaults.title
      td
        input.ss(type="text" property="title" editable="release.update.title" validation="title")
    tr
      th
        label.ss.heavy= strings.defaults.artists
      td
        input.ss(type="text" property="renderedArtists" editable="release.update.renderedArtists" validation="renderedArtists")
    tr
      th
        label.ss.heavy= strings.defaults.type
      td
        select.ss(property="type")
          each type in types
            option(value='#{type}'
              selected=(type == model.get('type') ? true : undefined))= type
    tr
      th
        label.ss.heavy= strings.defaults.releaseDate
      td
        input.ss.heavy(type="date" property="releaseDate" editable="release.update.releaseDate" validation="releaseDate")
    tr
      th
        label.ss.heavy= strings.defaults.preReleaseDate
      td
        - var pdate = model.get('preReleaseDate')
        input.ss.heavy(type="date" property="preReleaseDate"
          value=(pdate ? format('Y-m-d', new Date(pdate)) : undefined) editable='release.update.preReleaseDate')
    tr
      th
        label.ss.heavy= strings.defaults.catalogId
      td
        input.ss(type="text" property="catalogId" editable='release.update.catalogId')
    tr
      th
        label.ss.heavy= strings.defaults.upc
      td
        input.ss(type="text" property="upc" editable="release.update.upc" validation="upc")
    tr
      th
        label.ss.heavy(validation="imageHashSum")= strings.defaults.coverArt
      td
        .ss.input-button
          button.ss.bg-action.hover(role="view-art" disabled=(model.hasArt() ? undefined : 'disabled'))
            span.inactive View
          button.ss.bg-action.hover.actioneer(role="upload-cover-art" editable='release.update.coverArt')
            span.inactive Upload
            i.active.fa.fa-gear.fa-spin
    tr
      th
        label.ss.heavy(validation="urls")= strings.releaseDetails.links
      td(role="links")
    tr
      th
        label.ss.heavy= strings.releaseDetails.altNames
      td(role='altnames')
    tr
      th
        label.ss.heavy= strings.releaseDetails.visibleWebsite
      td
        input(type="checkbox" property="showOnWebsite" editable='release.update.showOnWebsite')
    tr
      th
        label.ss.heavy= strings.releaseDetails.visibleAdmin
      td
        input(type="checkbox" property="showToAdminsOnly" editable='release.update.showToAdminsOnly')
    tr
      th
        label.ss.heavy= strings.releaseDetails.visibleFree
      td
        input(type="checkbox" property="showAsFree" editable='release.update.showAsFree')
    tr(role='playlist')
      th
        label.ss.heavy= strings.releaseDetails.playlist
      td
        input.ss(type="text" property="playlistId" editable='release.update.playlistId')

  div
    div(role='tracks')
    div
      label.ss.heavy= strings.releaseDetails.description
      textarea.ss.expand(property="description" editable='release.update.description')
    